snippet doct5
	<!DOCTYPE HTML>
snippet html
	<html-
	${1}
	</html>
snippet html5
	<!DOCTYPE html>
	<html>
		<head>
		</head>
		<body>
			${1}
		</body>
	</html>
snippet =
	<%= ${1} %>${2}
snippet -
	<% ${1} %>${2}
snippet t
	<${1:tag}>${2}</$1>
